# Default values for rag-ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: quay.io/yuvalturg/llamastack-dist-ui
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 0.1.9

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8501

env:
  - name: LLAMA_STACK_ENDPOINT
    value: 'http://llamastack:8321'

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

llama-stack:
  extraEnv:
    - name: INFERENCE_MODEL
      value: meta-llama/Llama-3.2-3B-Instruct
    - name:  SAFETY_MODEL
      value: meta-llama/Llama-Guard-3-8B

llama-serve:
  extraArgs:
    - --model
    - meta-llama/Llama-3.2-3B-Instruct
  tolerations:
    - effect: NoSchedule
      key: g6e-gpu
      value: 'true'
  resources:
    limits:
      nvidia.com/gpu: "1"
  image:
    repository: vllm/vllm-openai
    pullPolicy: IfNotPresent
    tag: latest

safety-model:
  extraArgs:
    - --model
    - meta-llama/Llama-Guard-3-8B
  tolerations:
    - effect: NoSchedule
      key: odh-notebook
      value: 'true'
  resources:
    limits:
      nvidia.com/gpu: "1"
  image:
    repository: vllm/vllm-openai
    pullPolicy: IfNotPresent
    tag: latest
